<!DOCTYPE html>
<html lang="en">
<head>
  <title>The TechFAR Handbook — from the U.S. Digital Service</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel='shortcut icon' href='{{site.baseurl}}/assets/images/favicon.ico' type='image/x-icon' />
  <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/images/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/images/favicon-16x16.png" sizes="16x16" />
  <link href='//fonts.googleapis.com/css?family=Merriweather:400,300,700|Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
  <link href='{{site.baseurl}}/assets/css/styles.css' rel='stylesheet' />
</head>

<body id="cookie_policy_page">

<div id="introduction" class="techfar_intro">
  <div class="outer_container">
    <div class="inner_container">
      {{ content }}
      <div class="button">
        <a href="/" title="Link to View the Handbook">Back to the Playbook</a>
      </div>
  </div>
  </div>
</div>

{% include google-analytics.html %}
{% include cookie-consent.html %}
</body>
</html>
